@font-face {
  font-family: "Steinbeck";
  src: url("SteinbeckRegular.otf");
}

@font-face {
  font-family: "Steinbeck";
  src: url("SteinbeckItalic.otf");
  font-style: italic;
}

/* h1,
h2,
h3,
h4,
h5 {
  font-family: "Steinbeck", "-apple-system", "BlinkMacSystemFont",
    "San Francisco", "Helvetica Neue", "Helvetica", "Ubuntu", "Roboto", "Noto",
    "Segoe UI", "Arial", sans-serif !important;
  font-weight: normal !important;
}

p {
  font-family: "Steinbeck", "-apple-system", "BlinkMacSystemFont",
    "San Francisco", "Helvetica Neue", "Helvetica", "Ubuntu", "Roboto", "Noto",
    "Segoe UI", "Arial", sans-serif;
  font-weight: normal !important;
} */
